---
layout: portfolio-case-study
title: '| Drawing with algorithms'
local_page_js:
  - vendor/p5.min.js
  - monday.js
  - keep-moving.js
  - sink.js
---

<div class="drawing-algos">
<div class="container">

  <div class="overview-img">
    <picture>

      <source  media="(min-width: 700px)"
          src="/assets/images/drawing-algos/drawing-algos-tile.png"
          alt="Photograph of an OpenBooth phone booth"
          srcset="/assets/images/drawing-algos/drawing-algos-tile@2x.png 2x">

      <img src="/assets/images/drawing-algos/drawing-algos-hero.png"
          alt="Photograph of an OpenBooth phone booth"
          srcset="/assets/images/drawing-algos/drawing-algos-hero@2x.png 2x">

    </<picture>
  </div>

    <div class="overview-text">
        <p class="section-title project-title">Drawing with algorithms</p>
        <p>
            In this instructional gallery, we'll walk through visualizations drawn to HTML5 Canvas elements.
        </p>
        <p>
            We'll quickly look at how each dynamic image is generated, and focus in on a bit of logic that might be helpful when drawing future visualziations.
        </p>
        <p>
          I enjoy drawing active graphics like the ones below. I've used them as screensavers and backgrounds, but I mostly produce these because they're fun to draw.
          </p>
    </div>

    <div class="img-a">
        <div id="canvas-container-a">
            <img src="/assets/images/drawing-algos/placeholder.png" class="placeholder-image">
        </div>
    </div>

    <div class="img-a-desc-container">
        <p class="img-desc">
            Keep moving forward
        </p>
    </div>

    <div class="fullscreen-a">
        <p class="img-desc">
            <a href="/projects/patterns/keep-moving" target="_blank">Fullscreen</a>
        </p>
    </div>


    <div class="img-b">
        <div id="canvas-container-b">
            <img src="/assets/images/drawing-algos/placeholder.png" class="placeholder-image">
        </div>
    </div>

    <div class="img-b-desc-container">
        <p class="img-desc">
            A message in the noise
        </p>
    </div>

    <div class="fullscreen-b">
        <p class="img-desc">
            <a href="/projects/patterns/monday" target="_blank">Fullscreen</a>
        </p>
    </div>



    <div class="img-c">
        <div id="canvas-container-c">
            <img src="/assets/images/drawing-algos/placeholder.png" class="placeholder-image">
        </div>
    </div>

    <div class="img-c-desc-container">
        <p class="img-desc">
            A collection of short lines
        </p>
    </div>

    <div class="fullscreen-c">
        <p class="img-desc">
            <a href="/projects/patterns/sink" target="_blank">Fullscreen</a>
        </p>
    </div>



    <div class="tools-head">
        <p class="title section-title">Tools</p>
    </div>
    <div class="tools-text">
      <p>
      You'll find CodePen links next to each visualization, and you can browse the source for this portfolio site on <a href="https://github.com/phillipsm/mattphillips-us" target="_blank">GitHub</a>.
      </p>
        <p>
          Vanilla ES6 JavaScript was used draw on HTML Canvas elements using the p5.js library.
        </p>
    </div>
</div> <!-- / container -->
{% include explore-more.html %}
</div> <!-- / scope wrapper -->
{% include common-footer.html %}
