---
layout: portfolio-case-study
title: '| Drawing with algorithms'
local_page_js:
  - vendor/p5.min.js
  - monday.js
  - keep-moving.js
  - sink.js
---

<div class="drawing-algos">
<div class="container">

  <div class="overview-img">
    <picture>

      <source  media="(min-width: 700px)"
          src="/assets/images/drawing-algos/drawing-algos-tile.png"
          alt="Photograph of an OpenBooth phone booth"
          srcset="/assets/images/drawing-algos/drawing-algos-tile@2x.png 2x">

      <img src="/assets/images/drawing-algos/drawing-algos-hero.png"
          alt="Photograph of an OpenBooth phone booth"
          srcset="/assets/images/drawing-algos/drawing-algos-hero@2x.png 2x">

    </<picture>
  </div>

    <div class="overview-text">
        <p class="section-title project-title">Drawing with algorithms</p>
        <p>
            Drawing with algorithms is powerful - setup the guardrails and let the machine run. It doesn't grow weary.
        </p>
        <p>
          Applications are broad. Patterns can be beautiful in print, and are a natural fit serving as backgrounds, screen art and information rich display systems.
        </p>
        <p class="end-element">
          Below, you'll find a few recent examples I made while seeking backgrounds for a wall-mounted display.
        </p>
    </div>

    <div class="img-a tile">
        <div id="canvas-container-a">
            <img src="/assets/images/drawing-algos/placeholder.png" class="placeholder-image">
        </div>
    </div>

    <div class="img-a-desc-container">
      <p>
        This visual grows slowly. It's an accretion of color-shifting treads.
        <p>
          A wobbly line is drawn across the HTML Canvas as a circle steadily moves on the x axis and bounces 80 times per second on the y axis.
        </p>
        <p class="end-element tile-desc">
          View <a href="https://publicgood.studio/projects/patterns/keep-moving" target="_blank">fullscreen</a> and then checkout <a href="https://github.com/phillipsm/mattphillips-us/blob/master/assets/js/keep-moving.js" target="_blank">the source</a>.
        </p>
    </div>


    <div class="img-b tile">
        <div id="canvas-container-b">
            <img src="/assets/images/drawing-algos/placeholder.png" class="placeholder-image">
        </div>
    </div>

    <div class="img-b-desc-container">
        <p>
            In this moving image, we see a message in the noise. It scrolls. What does it say?
        </p>
        <p>
          There are two things that get drawn to this canvas - the red horizontal lines every 10 milliseconds and a letter every one second.
        </p>
        <p class="end-element tile-desc">
          View <a href="https://publicgood.studio/projects/patterns/monday" target="_blank">fullscreen</a> and then checkout <a href="https://github.com/phillipsm/mattphillips-us/blob/master/assets/js/monday.js" target="_blank">the source</a>.
        </p>
    </div>



    <div class="img-c tile">
        <div id="canvas-container-c">
            <img src="/assets/images/drawing-algos/placeholder.png" class="placeholder-image">
        </div>
    </div>

    <div class="img-c-desc-container">
      <p>
          Here, we have the simplest animated visual - it's one line between two random points, 80 times per second.
      </p>
      <p>
        The <a href="https://p5js.org/reference/#/p5/random" target="_blank">p5.js random function</a> makes it easy to pull a color from a list of colors for each line drawn.
      </p>
      <p class="end-element tile-desc">
        View <a href="https://publicgood.studio/projects/patterns/sink" target="_blank">fullscreen</a> and then checkout <a href="https://github.com/phillipsm/mattphillips-us/blob/master/assets/js/monday.js" target="_blank">the source</a>.
      </p>
    </div>




    <div class="tools-head">
        <p class="title section-title">Role</p>
    </div>
    <div class="tools-text">
        <p>
          I used the JavaScript visualization library, <a href="https://p5js.org/" target="_blank">p5.js</a> to manage logic and to interact with the &lt;canvas&gt; element. The common <a href="https://p5js.org/learn/program-flow.html" target="_blank">.setup() and .draw() pattern</a> makes it quick to spin up something interesting.
        </p>
    </div>
</div> <!-- / container -->
{% include explore-more.html %}
</div> <!-- / scope wrapper -->
{% include common-footer.html %}
