---
---

<!doctype html>
<html ang="en-US" class="">
  <head>
    {% include common-head.html %}

    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body class="port-landing">
    <header>
    {% include common-header.html %}
    </header>

    <div class="container">
        <div class="about-img">
            <img src="/assets/images/double-exposure-still-low-opacity.gif">
        </div>

        <div class="intro-text">
            <p>Hello! I'm an Interaction Designer and Computer Scientist living in the San Francisco Bay Area.</p>
            <p class="end-element">I currently work as an independent consultant, but I'm seeking more - I want to join your team full time, and build wonderful things together.</p>
        </div>

        <div id="work" class="work-text">
          <h2 class="section-title">Work</h2>
          <p class="end-element">Listed here, you'll find examples of work I've produced - a broad selection of sketches, wireframes, user research, visual assets, code and prototypes.</p>
        </div>

        {% include explore-more.html %}

        <div id ="about" class="about-desc">
          <h2 class="title section-title">About</h2>
          <p>I'm excited to explore new ways of thinking and doing at the intersection of human factors and technology - I hope to setup outposts in recently charted lands.</p>
          <p>I currently work independently through <a href="https://publicgood.studio/" target="_blank">Public Good Studio</a>, and spent much of the last decade in the <a href="https://lil.law.harvard.edu/" target="_blank">Harvard Library Innovation Lab</a>.</p>
          <p>I received a BS in CS in 2002 from Mansfield University of Pennsylvania and in 2005 I received a MS in CS from Virginia Tech for my research in the Digital Libraries Research Lab and my coursework in HCI.</p>
          <p>Bicycles, computers, horseplay, style and libraries consume most of my thoughts.</p>
          <p class="end-element">You can find more in my <a href="/assets/docs/matt-phillips-resume.pdf" target="_blank">résumé</a>.</p>
        </div>

        <div id="contact" class="contact-desc">
          <h2 class="section-title">Contact</h2>
            <p>
              I live in Menlo Park, California and use <a href="https://www.linkedin.com/in/this-matt-phillips/" target="_blank">LinkedIn</a>, <a href="https://angel.co/u/this-matt-phillips" target="_blank">AngelList</a>, <a href="https://github.com/phillipsm" target="_blank">GitHub</a> and <a href="https://www.instagram.com/this_phillips/" target="_blank">Instagram</a>.
            </p>
            <p>
              Drop me an email at <a href="mailto:matt@mattphillips.us">matt@mattphillips.us</a>, or send me a text, <a href="tel:1-650-666-7241">650-666-7241</a>.
            </p>
        </div>

    </div>
    {% include common-footer.html %}
    <script src="/assets/js/vendor/smooth-scroll.polyfills.min.js"></script>

    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
  </body>
</html>
