@font-face {
  font-family: "Walsheim Thin";
  src: url("/assets/fonts/GT-Walsheim-Thin.woff2") format("woff2"), url("/assets/fonts/GT-Walsheim-Thin.woff") format("woff");
}

@font-face {
  font-family: "Walsheim Light";
  src: url("/assets/fonts/GT-Walsheim-Light.woff2") format("woff2"), url("/assets/fonts/GT-Walsheim-Light.woff") format("woff");
}

@font-face {
  font-family: "Walsheim Regular";
  src: url("/assets/fonts/GT-Walsheim-Regular.woff2") format("woff2"), url("/assets/fonts/GT-Walsheim-Regular.woff") format("woff");
}

@font-face {
  font-family: "Walsheim Medium";
  src: url("/assets/fonts/GT-Walsheim-Medium.woff2") format("woff2"), url("/assets/fonts/GT-Walsheim-Medium.woff") format("woff");
}

$text_color: #2d2b26;
$cherry: #ee2348;

html {
  font-size: 13px;
}

body {
  background-color: #fff;
  color: $text_color;
  font-size: 1.7rem;
  font-family: 'Walsheim Regular', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 2rem;
}

p {
    margin: 0 0 1em 0;
}

h1 {
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 2.8em;
  line-height: 1.2em;
}

h2 {
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 2.1em;
}

a, a:link, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    border-bottom: none;
    color: $text_color;
}

p {
  line-height: 1.3em;

  a:link {
      border-bottom: thin solid $cherry;

  }
  a:hover {
      border-bottom: thin solid $cherry;
  }

  a:visited {
      border-bottom: thin solid $cherry;
  }
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.img-desc {
  margin: 1em 2em 1em 2em;
  font-family: 'Walsheim Thin', sans-serif;
  font-size: .85em;
  text-align: center;
}

.framed {
  border: 1px solid #ccc;
}

.mobile-break {
    display: none;
}

.end-element {
  margin-bottom: 0;
  padding-bottom: 0;
}


///////
// start
// nav container include
///////
.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 2rem;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "site-title site-title site-title main-nav";
}

.nav-container:first-of-type {
  margin-bottom: 14rem;
}

.main-nav {
  grid-area: main-nav;
  justify-self: left;
  align-self: center;

  font-family: 'Walsheim Light', sans-serif;
  padding-left: 2rem;

  ul li {
      padding: .25em;

      p {
        margin: 0;
      }
  }
}

.site-title {
  grid-area: site-title;
  justify-self: right;
  align-self: center;
}
///////
// end
// nav container include
///////


///////
// start
// explore more include
///////

.explore-more-container {
  h2 {
    border-top: 1px solid #999;
    padding-top: 2rem;
  }
}

.title-container {
  grid-area: title-container;
}

.perma-tile {
    grid-area: perma-tile;
}

.algo-tile {
    grid-area: algo-tile;
}

.openbooth-tile {
    grid-area: openbooth-tile;
}

.illustration-tile {
  grid-area: illustration-tile;
}

.tile {
  margin-top: 4rem;
}

.tile-title {
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 1.4em;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.tile-desc {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1em;
  font-family: 'Walsheim Thin', sans-serif;
}

.project-title {
  font-family: 'Walsheim Medium', sans-serif;
  font-size:2.4em;
  margin: 2rem 0 2rem 0;
}
///////
// end
// explore more include
///////


@media only screen and (max-width: 900px) {

  body {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.6em;
  }

  .nav-container {
    font-size: 1.2rem;
    margin-top: 6rem;

    .main-nav {
      font-size: 1.0em;
    }
  }

  .nav-container:first-of-type {
    margin-top: -2rem;
    margin-bottom: 8rem;
  }

  .section-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .tile {
    margin-top: 0;
  }

  .tile-title {
    font-size: 1.2em;
  }
  ///////
  // start
  // mobile
  // explore more include
  ///////

  .explore-more-container {
    .title-container {
      padding-top: 0;
      margin-top: -1rem;

    }
  }

  ///////
  // end
  // mobile
  // explore more include
  ///////


  .mobile-break {
    display: block;
  }

}
