.port-landing {

    .container {
      max-width: 1100px;
      margin: 0 auto;

      display: grid;
      grid-column-gap: 4rem;
      grid-row-gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
      "about-img about-img intro-text intro-text"
      "work-text work-text work-text ."
      "perma-tile perma-tile algo-tile algo-tile"
      "openbooth-tile openbooth-tile illustration-tile illustration-tile"
      "about-desc about-desc about-desc ."
      "contact-desc contact-desc . .";
    }

    .intro-text {
        grid-area: intro-text;
        align-self: end;
    }

    .work-text {
          grid-area: work-text;
    }

    .about-desc {
        grid-area: about-desc;
    }

    .about-img {
      grid-area: about-img;
    }

    .contact-desc {
        grid-area: contact-desc;
    }

    .openbooth-tile, .illustrations-tile {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .section-title {
      margin-top: 8rem;
      margin-bottom: 2rem;
    }



    @media only screen and (max-width: 900px) {

        .container {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1em;
            grid-row-gap: 1em;
            grid-template-areas:
            "about-img about-img"
            "intro-text intro-text"
            "work-text work-text"
            "perma-tile perma-tile"
            "algo-tile algo-tile"
            "openbooth-tile openbooth-tile"
            "illustration-tile illustration-tile"
            "about-desc about-desc"
            "contact-desc contact-desc";
        }

        .about-img {
          margin-bottom: 1rem;
        }

        .perma-tile {
          margin-top: 2rem;
        }

        .perma-tile, .algo-tile, .openbooth-tile {
          margin-bottom: 2rem;
        }

        .tile-desc {
          margin-bottom: 4rem;
        }

        .tile-desc:last-of-type {
          margin-bottom: 0;
        }
    }

}
